extends ../layout

block content
  h1= book.title
  
  include ../errors
  
  form(action="/books/" + book.id + "?_method=PUT", method="post")
    include form
    p
      input(type='submit' value='Update')
        
  h2 Loan History
  table
    thead
      tr
        th Book
        th Patron 
        th Loaned on
        th Return by 
        th Returned on
        th Action
    each loan in loans
      tbody
        tr
          td
            a(href='/books/' + book.id)= book.title
          td
            a(href='/patrons/' + loan.Patron.id)= loan.Patron.first_name + loan.Patron.last_name
          td= loan.loaned_on
          td= loan.return_by
          td= loan.returned_on
          td
            if(loan.returned_on == NULL)
              a.button(href='/books/' + loan.id + '/return/') Return Book




//- block content
//-   h1= loans[0].Book.title
//-   form
//-     p
//-       label(for='title') Title
//-       input#title(type='text' value=loans[0].Book.title)
//-     p
//-       label(for='author') Author
//-       input#author(type='text' value=loans[0].Book.author)
//-     p
//-       label(for='genre') Genre
//-       input#genre(type='text' value=loans[0].Book.genre)
//-     p
//-       label(for='first_published') First Published
//-       input#first_published(type='text' value=loans[0].Book.first_published)
//-     p
//-       input(type='submit' value='Update')
//-   h2 Loan History
//-   table
//-     thead
//-       tr
//-         th Book
//-         th Patron 
//-         th Loaned on
//-         th Return by 
//-         th Returned on
//-         th Action
//-     each loan in loans
//-       tbody
//-         tr
//-           td
//-             a(href='book_detail.html')= loan.Book.title
//-           td
//-             a(href='patron_detail.html')= loan.Patron.first_name + loan.Patron.last_name
//-           td= loan.loaned_on
//-           td= loan.return_by
//-           td= loan.returned_on
//-           td
//-             if(loan.returned_on == NULL)
//-               a.button(href='/books/' + loan.Book.id + '/return/') Return Book
